.bar{
    width: 10cm;
    font-size: 25px;
    height: 1.5cm;
    text-align : center
    
}
.photo{
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
}
.input{
    margin-top: 1.5cm;
    margin-left: 15%;
    width: 7cm;
    height: 1cm;
    background-color: beige;

}
.input2{
    margin-top: 0.5cm;
    margin-left: 15%;
    width: 7cm;
    height: 1cm;
    background-color: beige;
}
.button{
    font-size: 20px;
    width: 7cm;
    height: 1cm;
    margin-left: 12%;
    margin-top: 15%;
   
}
#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }