<ion-header>
  <ion-toolbar color="tertiary" class="bar" >
    <ion-title>
      <b>หน้าหลักระบบ</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="ion-padding">

<div class="p">
<iframe  src="assets/ตารางเรียน.png" style=" width:100%;border:none;height:250px;"></iframe>
</div>

<div id="index-gallery" class="p">
  <div class="item">
    <a href="http://127.0.0.1:8080/back_end/mobile/index_check_class.html" target="_top">
      <img class="zoom" [routerLink]="['/class-schedule']" routerLinkActive="router-link-active" src="/assets/ตารางเรียน.png" alt="" style="width:70px;"/></a>
      <p>ตารางเรียน</p>
  </div>
    <div class="item">
		<img class="zoom" [routerLink]="['/exam-schedule']" routerLinkActive="router-link-active" src="/assets/ตารางสอบ.png" alt="" style="width:70px;"/>
    <p>ตารางสอบ</p>
    </div>
    <div class="item">
		<img class="zoom" [routerLink]="['/score']" routerLinkActive="router-link-active"  src="/assets/ผลการเรียน.png" alt="" style="width:70px;"/>
    <p>ผลการเรียน</p>
    </div>
    <div class="item">
    <button style="background-color: transparent;" (click)="prosesLogout()">
		<img class="zoom" src="/assets/logout.png" alt="" style="width:70px;"/>
    </button>
    <p>ออกจากระบบ</p>
    </div>
    </div>
  </div>
</ion-content>
<ion-toolbar color="tertiary">
  <ion-title text-center class="bar1" >
      <ion-icon color="light" class="icon1" [routerLink]="['/home']" routerLinkActive="router-link-active" name="apps"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <ion-icon color="light" class="icon1" [routerLink]="['/proflie']" routerLinkActive="router-link-active" name="contact"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <ion-icon color="light" class="icon1" [routerLink]="['/message']" routerLinkActive="router-link-active"name="mail"></ion-icon>
  </ion-title>
</ion-toolbar>