<ion-header>
  <ion-toolbar>
    <ion-title>ยินดีต้อนรับ {{username}}</ion-title>
    <ion-buttons slot="primary">
    	<ion-button color="tertiary" fill="outline" (click)="addCustomer()">
    		เพิ่ม
    		<ion-icon slot="end" name="add"></ion-icon>
    	</ion-button>
    	<ion-button color="tertiary" fill="outline" (click)="prosesLogout()"><ion-icon slot="end" name="log-out"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
	    <ion-refresher-content
	      pullingIcon="arrow-dropdown"
	      pullingText="Pull to refresh"
	      refreshingSpinner="circles"
	      refreshingText="กำลังโหลดข้อมูล...">
	    </ion-refresher-content>
	  </ion-refresher>
	<ion-list>
		<ion-item-sliding *ngFor="let customer of customers">
		    <ion-item-options side="start">
		      <ion-item-option color="danger" (click)="delCustomer(customer.customer_id)">ลบ</ion-item-option>
		    </ion-item-options>

		    <ion-item>
		      <ion-label>{{customer.name_customer}}</ion-label>
		    </ion-item>

		    <ion-item-options side="end">

		      <ion-item-option color="secondary" (click)="showCustomer(customer.customer_id,customer.name_customer,customer.desc_customer)">ดู</ion-item-option>

		      <ion-item-option (click)="updateCustomer(customer.customer_id,customer.name_customer,customer.desc_customer)">แก้ไข</ion-item-option>

		    </ion-item-options>
		</ion-item-sliding>
	</ion-list>

	<ion-infinite-scroll (ionInfinite)="loadData($event)">
	    <ion-infinite-scroll-content
	      loadingSpinner="bubbles"
	      loadingText="กำลังโหลดข้อมูลเพิ่มเติม...">
	    </ion-infinite-scroll-content>
	  </ion-infinite-scroll>

</ion-content>
