
  .bar{
    width: 10cm;
    font-size: 25px;
    height: 1.5cm;
    
    text-align: center;
    color:#fff;
  }
    .bar1{
      width: 10cm;
      font-size: 25px;
      height: 0.75cm;
      margin-top: 7%;
      font-size: 20px;
  }
  .icon1{
    width: 0.80cm;
    height: 0.80cm;
    margin-top: -0.5%;
  }
  .tbr{
    font-size: 15px;
    margin-top: -2.5%;
    color:#fff;
  }
 