<ion-header>
    <ion-toolbar color="tertiary">
      <ion-title text-center class="bar">
        <b>ตารางเรียน</b>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
     
  </ion-content>
  <ion-toolbar color="tertiary">
      <ion-title text-center class="bar1" >
          <ion-icon color="light" class="icon1" [routerLink]="['/home']" routerLinkActive="router-link-active" name="apps"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <ion-icon color="light" class="icon1" [routerLink]="['/proflie']" routerLinkActive="router-link-active" name="contact"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <ion-icon color="light" class="icon1" [routerLink]="['/message']" routerLinkActive="router-link-active"name="mail"></ion-icon>
          
      </ion-title>
    </ion-toolbar>